<!-- Remove the container if you want to extend the Footer to full width. -->





<!-- End of .container -->

</body>
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
    </div>
</footer>


</html>