<%- include("partials/header") -%>
<h1 class="blog">About</h1>
<p class="blog page-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo unde hic dolorum quas cumque sunt esse libero eligendi
    repellendus, molestias iste officiis odit dignissimos quasi vero vitae autem! Debitis, perferendis?
</p>
<%- include("partials/footer") -%>