<%- include("partials/header") -%>

<h1>hello</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos saepe rem hic assumenda eum, ex unde minus natus
    exercitationem nam, ut doloribus quis asperiores recusandae. Veniam quibusdam illum amet minus?</p>

<%- include("partials/footer") -%>