<%- include("partials/header") %>
<ul class="blog no-bullets">
    <li>
        <h1><%= listTitle %></h1>
    </li>
    <h2 style="font-family: Montserrat;"><%= newDay %></h2>
    <p><%= postBlog %> </p>
    <hr>
</ul>
</body>

</html>